<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!--<add key="LocalFolderDirectoryPath" value="\\amrgdev\EJS\ECOM\Templates\PlanAndLE\" />-->
    <add key="LocalFolderDirectoryPath" value="\\amrgdev\EJS\ECOM\Templates\PlanAndLE\" />
		<add key="ArchiveLocalFolderDirectoryPath" value="\\amrgdev\EJS\ECOM\Templates\PlanAndLE\Archive\" />
    <add key="MinTableRowCount" value="1000" />
		
		
    <!--"Data Source=172.29.167.17:1525/BOAIM;user id=urxp00;password=RPpw4cmp;provider=OraOLEDB.Oracle.1"-->
    <!--> Mail Sending Settings-->
		<add key="IsMailSend" value="false" />
		<add key="User" value="@amretailgroup.com" />
		<add key="Host" value="mail.wilsonsleather.com" />
		<add key="FromEmail" value="DoNotReply@amretailgroup.com" />
		<add key="FromName" value="BITeam" />
		<add key="To" value="rajesh.pahurkar@amretailgroup.com" />
		<add key="AdminEmail" value="rajesh.pahurkar@amretailgroup.com" />
		<add key="Port" value="25" />

	</appSettings>
	<connectionStrings>
		<add name="AMRGConnection" connectionString="Data Source=amrgsql4d;Initial Catalog=BIDODS;user id=biduser;password=bidpass;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="BOAIM" connectionString="Provider=OraOLEDB.Oracle;Data Source=boaim;User Id=urxp00;Password=RPpw4cmp;" />-->
    <add name="BOAIMADM" connectionString="Provider=OraOLEDB.Oracle;Data Source=boaim;User Id=aimdb;Password=aimdb;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>