<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="LocalFolderDirectoryPath" value="\\amrgdev\EJS\ECOM\Templates\PlanAndLE\" />
		<add key="ArchiveLocalFolderDirectoryPath" value="\\amrgdev\EJS\ECOM\Templates\PlanAndLE\Archive\" />
		<!--<add key="connectionstring" value="Dsn=end1;uid=taxk00;pwd=AKpw4cmp;Provider=.NET Framework Data Provider for ODBC" />-->
		<add key="connectionstring" value="Provider=OraOLEDB.Oracle;Data Source=boaim;User Id=taxk00;Password=AKpw4cmp;" />
			 <!--> Mail Sending Settings-->
		<add key="IsMailSend" value="false" />
		<add key="User" value="@amretailgroup.com" />
		<add key="Host" value="mail.wilsonsleather.com" />
		<add key="FromEmail" value= "DoNotReply@amretailgroup.com" />
		<add key="FromName" value= "BITeam" />
		<add key="To" value="ajinath.kashid@amretailgroup.com" />
		<add key="AdminEmail" value="rajesh.pahurkar@amretailgroup.com" />
		<add key="Port" value="25" />

	</appSettings>
	<connectionStrings>
		<add name="AMRGConnection" connectionString="Data Source=172.29.167.196;Initial Catalog=BIDODS;user id=biduser;password=bidpass;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>